# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
*.iml
*.hprof

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
*.swp
*.swo
.env
